@use './partials/mixins' as *;

@font-face {
    font-family: 'Avenirnext';
    src: url('../3.0 - Assets/Font/AvenirNextLTPro-Regular.otf') format('OpenType'),
    url('../Font/Alternative files/AvenirNextLTPro.ttf') format('truetype');
}

.bandsite__title {
    background-color:#323232;
    flex-direction: column;
    justify-content: center;
}

.bandsite__header {
    color: #fff;
    align-items:center ;
    margin-left: 150px;
} 

.bandsite__navbar {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    justify-content:space-evenly;
    font-family:'Avenirnext' ;
}

.banner{
    display: flex;
    justify-content: space-around;
    font-family:'Avenirnext' ;
}

.banner__img {
    width: 90%;
    
}

.bandsite__band {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 90%;
}

.band__img {
    width: 50px;
}

.bandsite__image {
    width: 50%;
}

.bandsite__gallery {
     

    .bandsite__container {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2rem;
    }
}

.bandsite__footer {
    background-color:#323232;
    color: #fff;
    width: 100%;
    font-family:'Avenirnext';
    font-size: 400;
}



// cant get my code to adjust the photos to the right size 
// need to imput the photo for the banner and place it behind the bees nees 